# Numerical Data

### Introduction

### Working with AirBnb

For this lesson, we'll work with [AirBnb listings in Berlin](https://www.kaggle.com/brittabettendorf/berlin-airbnb-data).

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mhan1/Data-Science/master/listings_summary.csv')

Some of these columns include data that we do not know how to handle - mainly textual data and images.  A lot of this data is simply not in the correct format.  Let's take a look.

In [2]:
pd.set_option('display.max_rows',100)

In [3]:
def find_object_features(df):
    return list(df.dtypes[df.dtypes == 'object'].index)

In [4]:
find_object_features(df)

['listing_url',
 'last_scraped',
 'name',
 'summary',
 'space',
 'description',
 'experiences_offered',
 'neighborhood_overview',
 'notes',
 'transit',
 'access',
 'interaction',
 'house_rules',
 'picture_url',
 'host_url',
 'host_name',
 'host_since',
 'host_location',
 'host_about',
 'host_response_time',
 'host_response_rate',
 'host_is_superhost',
 'host_thumbnail_url',
 'host_picture_url',
 'host_neighbourhood',
 'host_verifications',
 'host_has_profile_pic',
 'host_identity_verified',
 'street',
 'neighbourhood',
 'neighbourhood_cleansed',
 'neighbourhood_group_cleansed',
 'city',
 'state',
 'zipcode',
 'market',
 'smart_location',
 'country_code',
 'country',
 'is_location_exact',
 'property_type',
 'room_type',
 'bed_type',
 'amenities',
 'price',
 'weekly_price',
 'monthly_price',
 'security_deposit',
 'cleaning_fee',
 'extra_people',
 'calendar_updated',
 'has_availability',
 'calendar_last_scraped',
 'first_review',
 'last_review',
 'requires_license',
 'license',
 'instant_bookable',
 'is_business_travel_ready',
 'cancellation_policy',
 'require_guest_profile_picture',
 'require_guest_phone_verification']

In [5]:
len(find_object_features(df))

62

### Feature engineering

Let's try to capture as much of this object data as possible.  In this lesson, we'll start with date values.

In [6]:
def find_object_feature_values(df):
    object_features = find_object_features(df)
    return df[object_features][:2].values

In [7]:
find_object_feature_values(df)

array([['https://www.airbnb.com/rooms/2015', '2018-11-07',
        'Berlin-Mitte Value! Quiet courtyard/very central',
        'Great location!  30 of 75 sq meters. This wood floored/high ceiling typical Berlin "Altbau" section of an apartment consists of 1 simple large room, a small kitchen and a bathroom + shower. The apartment is in Mitte, close to Prenzlauer Berg/Mauerpark. Perfect for short visits, singles or couples. Your section is closed from the rest of the bigger flat wich is not noticeable. You will not be sharing your space.',
        'A+++ location! This „Einliegerwohnung“ is an extention of a larger apartment with a separate entrance, bathroom and kitchen. The door to the rest of the apartment is soundproof, hidden, locked and barely noticable (behind mirror in pictures). Your 30 sq meters are facing a quiet courtyard. This wood floored/high ceiling typical Berlin "Altbau" apartment consists of 1 large room with a large double bed, optionally with an extra matress for a 3rd guest), a small kitchen suitable for preparing simple meals, a bathroom + shower + bathtub and of course your own entrance (all linens and towels are provided.) it is located facing a quiet courtyard, it is clean cozy and an authentic "Berlin" place to live. The place is in Mitte, close to Prenzlauer Berg one block from Kastanienallee, Zionskirchplatz, Rosenthaler Platz and Mauerpark. Generally this area is lively with galleries, museums, resturants, cafes, flea markets, bars, clubs, shops, good take away food, a park, U-Bahn, trams, supermarket',
        'Great location!  30 of 75 sq meters. This wood floored/high ceiling typical Berlin "Altbau" section of an apartment consists of 1 simple large room, a small kitchen and a bathroom + shower. The apartment is in Mitte, close to Prenzlauer Berg/Mauerpark. Perfect for short visits, singles or couples. Your section is closed from the rest of the bigger flat wich is not noticeable. You will not be sharing your space. A+++ location! This „Einliegerwohnung“ is an extention of a larger apartment with a separate entrance, bathroom and kitchen. The door to the rest of the apartment is soundproof, hidden, locked and barely noticable (behind mirror in pictures). Your 30 sq meters are facing a quiet courtyard. This wood floored/high ceiling typical Berlin "Altbau" apartment consists of 1 large room with a large double bed, optionally with an extra matress for a 3rd guest), a small kitchen suitable for preparing simple meals, a bathroom + shower + bathtub and of course your own entrance (all linens a',
        'none',
        'It is located in the former East Berlin area of Kastanienallee and Zionskirchplatz (Berlins only natural elevation), very charming and original turn of the last century architecture; this area was barely been destroyed during the war. Close to galleries, resturants, museums, flea markets, cafes, bars, clubs, shops, good take away food, a park, great public transportation: U-Bahn, S-Bahn, Trams, Busses, supermarkets etc.',
        'This is my home, not a hotel. I rent out occasionally when I stay with my friend.',
        'Close to U-Bahn U8 and U2 (metro), Trams M12, M10 and M8, Busses. Rosenthaler Platz and Hackescher Markt are close by. S-Bahn. Alexander Platz is 6 minutes away on the U8 line.',
        'Simple kitchen/cooking, refrigerator, microwave oven, stove, dishwasher, espresso/ coffee mashine, cable TV deskspace, shower, bath tub, little courtyard garden, 1st floor. There is a large double bed and optional additional airbeds for a 3rd or 4th person/kids. (Please note that the apartment is 30 square meters, if you stay a few nights and are more than 2 adults, it will be tight)',
        'Always available',
        'No parties No events No pets No smoking, not even in the courtyard/garden Do not pull the door shut with the keys in the lock from the inside; should that happen, the guest pays for locksmith',
        'https://a0.muscache.com/im/pictures/260fd609-710a-4304-82ab-abd7498efd62.jpg?aki_policy=large',
        'https://www.airbnb.com/users/show/2217', 'Ian', '2008-08-18',
        'Key Biscayne, Florida, United States',
        'Believe in sharing economy.', 'within an hour', '96%', 't',
        'https://a0.muscache.com/im/pictures/21428a22-4f38-444d-8c72-5892be9da109.jpg?aki_policy=profile_small',
        'https://a0.muscache.com/im/pictures/21428a22-4f38-444d-8c72-5892be9da109.jpg?aki_policy=profile_x_medium',
        'Mitte',
        "['email', 'phone', 'reviews', 'jumio', 'offline_government_id', 'government_id']",
        't', 't', 'Berlin, Berlin, Germany', 'Mitte', 'Brunnenstr. Süd',
        'Mitte', 'Berlin', 'Berlin', '10119', 'Berlin',
        'Berlin, Germany', 'DE', 'Germany', 'f', 'Guesthouse',
        'Entire home/apt', 'Real Bed',
        '{TV,"Cable TV",Wifi,Kitchen,Gym,Heating,"Family/kid friendly","Smoke detector",Essentials,Shampoo,"Lock on bedroom door",Hangers,"Hair dryer",Iron,"Laptop friendly workspace","Private living room",Bathtub,"Hot water","Bed linens","Extra pillows and blankets",Microwave,"Coffee maker",Refrigerator,Dishwasher,"Dishes and silverware","Cooking basics",Stove,"Luggage dropoff allowed","Long term stays allowed"}',
        '$60.00', nan, nan, '$200.00', '$30.00', '$28.00',
        '3 months ago', 't', '2018-11-07', '2016-04-11', '2018-10-28',
        't', nan, 'f', 'f', 'strict_14_with_grace_period', 'f', 'f'],
       ['https://www.airbnb.com/rooms/2695', '2018-11-07',
        'Prenzlauer Berg close to Mauerpark', nan,
        "In the summertime we are spending most of our weekends in our little house in our garden and want to use the opportunity to rent a room in our cosy 2 bedroom apartment. But we might also stay in the other room. We will be very happy to give you tips on things to do and see in Berlin and make sure your stay runs smoothly. The room is about 25 square meters and is located on the 2nd floor. The bed measures 180 cm x 200 cm and is fitted with a kapok futon, which is a hard-ish mattress but which we find very pleasant to sleep on.  It's a typical Berlin-style apartment located in a friendly and calm neighborhood, plus your room is facing away from the street and into the interior area (so generally very quiet).  All the cafes, bars, shops and other action of the Prenzlauerberg district is easily accessible with a pleasant 10-15 minute stroll across Mauerpark. The main S-Bahn and U-Bahn public transport connections are also just a 10-15 minute walk away. There are all sorts of options for ea",
        "In the summertime we are spending most of our weekends in our little house in our garden and want to use the opportunity to rent a room in our cosy 2 bedroom apartment. But we might also stay in the other room. We will be very happy to give you tips on things to do and see in Berlin and make sure your stay runs smoothly. The room is about 25 square meters and is located on the 2nd floor. The bed measures 180 cm x 200 cm and is fitted with a kapok futon, which is a hard-ish mattress but which we find very pleasant to sleep on.  It's a typical Berlin-style apartment located in a friendly and calm neighborhood, plus your room is facing away from the street and into the interior area (so generally very quiet).  All the cafes, bars, shops and other action of the Prenzlauerberg district is easily accessible with a pleasant 10-15 minute stroll across Mauerpark. The main S-Bahn and U-Bahn public transport connections are also just a 10-15 minute walk away. There are all sorts of options for ea",
        'none', nan, nan,
        "Within walking distance you'll find the S-Bahn, two metro lines,  tram lines and busses.  But the best way to discover Berlin is by bike. Please ask if you need a guest bike.",
        'Außer deinem Zimmer kannst du noch die Küche und das Badezimmer benutzen. Es gibt auch einen Balkon, den man tagsüber benutzen kann. Der Zugang führt allerdings durch unser anderes Zimmer, wo wir dann abends eventuel schlafen.',
        nan, nan,
        'https://a0.muscache.com/im/pictures/97d4f6e8-1c77-47fc-958e-26ba5618083c.jpg?aki_policy=large',
        'https://www.airbnb.com/users/show/2986', 'Michael',
        '2008-09-16', 'Berlin, Berlin, Germany',
        'Living with my wife in Berlin.  Like travelling, hiking, canoing, beach volleyball, yoga, cinema....',
        nan, nan, 'f',
        'https://a0.muscache.com/im/pictures/50434955-1888-4049-bbff-a78464dbfa5a.jpg?aki_policy=profile_small',
        'https://a0.muscache.com/im/pictures/50434955-1888-4049-bbff-a78464dbfa5a.jpg?aki_policy=profile_x_medium',
        'Prenzlauer Berg',
        "['email', 'phone', 'reviews', 'jumio', 'government_id']", 't',
        't', 'Berlin, Berlin, Germany', nan, 'Prenzlauer Berg Nordwest',
        'Pankow', 'Berlin', 'Berlin', '10437', 'Berlin',
        'Berlin, Germany', 'DE', 'Germany', 't', 'Apartment',
        'Private room', 'Real Bed',
        '{Wifi,Kitchen,Elevator,Heating,Washer,Essentials,Shampoo,"Hair dryer","Laptop friendly workspace","Private living room"}',
        '$17.00', nan, nan, '$0.00', '$0.00', '$0.00', '7 weeks ago',
        't', '2018-11-07', '2018-07-04', '2018-10-01', 't', nan, 'f',
        'f', 'flexible', 'f', 'f']], dtype=object)

In [8]:
#     
def contains_numbers(column):
    # matches price or percentage     
    regex_string = (r'^(?!.*www|.*-|.*\/|.*[A-Za-z]|.* ).*\d.*')
#     regex_string = (r'\$\d+.*|\d+.*\%$|^\d+.*$')
    return column.str.contains(regex_string).all()

We needed to write our regex in such a way that it finds columns with digits but skips over date columns.

In [9]:
contains_numbers(df.last_scraped)

False

In [10]:
contains_numbers(df.listing_url)

False

In [11]:
contains_numbers(df.price)

True

In [12]:
contains_numbers(df.zipcode)
# this should be True

False

In [13]:
df['zipcode'].head(2)

0    10119
1    10437
Name: zipcode, dtype: object

In [14]:
def find_numeric_features(df):
    series_contains_number = df.apply(contains_numbers)
    return series_contains_number.index[series_contains_number.values]

In [15]:
numeric_features = find_numeric_features(df)

In [16]:
numeric_features

Index(['id', 'scrape_id', 'thumbnail_url', 'medium_url', 'xl_picture_url',
       'host_id', 'host_response_rate', 'host_acceptance_rate',
       'host_listings_count', 'host_total_listings_count', 'latitude',
       'longitude', 'accommodates', 'bathrooms', 'bedrooms', 'beds',
       'square_feet', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'guests_included', 'extra_people',
       'minimum_nights', 'maximum_nights', 'availability_30',
       'availability_60', 'availability_90', 'availability_365',
       'number_of_reviews', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'jurisdiction_names',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

In [17]:
isinstance(df['zipcode'], float)

False

In [18]:
df['zipcode'].head(2)

0    10119
1    10437
Name: zipcode, dtype: object

In [19]:
df.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'name', 'summary',
       'space', 'description', 'experiences_offered', 'neighborhood_overview',
       'notes', 'transit', 'access', 'interaction', 'house_rules',
       'thumbnail_url', 'medium_url', 'picture_url', 'xl_picture_url',
       'host_id', 'host_url', 'host_name', 'host_since', 'host_location',
       'host_about', 'host_response_time', 'host_response_rate',
       'host_acceptance_rate', 'host_is_superhost', 'host_thumbnail_url',
       'host_picture_url', 'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'street',
       'neighbourhood', 'neighbourhood_cleansed',
       'neighbourhood_group_cleansed', 'city', 'state', 'zipcode', 'market',
       'smart_location', 'country_code', 'country', 'latitude', 'longitude',
       'is_location_exact', 'property_type', 'room_type', 'accommodates',
       'bathrooms', 'bedrooms', 'beds', 'bed_type', 'amenities', 'square_feet',
       'price', 'weekly_price', 'monthly_price', 'security_deposit',
       'cleaning_fee', 'guests_included', 'extra_people', 'minimum_nights',
       'maximum_nights', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'first_review', 'last_review', 'review_scores_rating',
       'review_scores_accuracy', 'review_scores_cleanliness',
       'review_scores_checkin', 'review_scores_communication',
       'review_scores_location', 'review_scores_value', 'requires_license',
       'license', 'jurisdiction_names', 'instant_bookable',
       'is_business_travel_ready', 'cancellation_policy',
       'require_guest_profile_picture', 'require_guest_phone_verification',
       'calculated_host_listings_count', 'reviews_per_month'],
      dtype='object')

While the `find_numeric_features` method captures the numeric features, we want to narrow down the features that we should fix.

In [20]:
def numeric_to_fix(df):
    numeric_features = find_numeric_features(df)
    return df[numeric_features].select_dtypes(exclude=['int64', 'float64'])[0:9]

In [21]:
numeric_to_fix(df)

,host_response_rate,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,96%,$60.00,NaN,NaN,$200.00,$30.00,$28.00
1,NaN,$17.00,NaN,NaN,$0.00,$0.00,$0.00
2,100%,$90.00,$520.00,"$1,900.00",$200.00,$50.00,$20.00
3,NaN,$26.00,$175.00,$599.00,$250.00,$30.00,$18.00
4,100%,$42.00,NaN,NaN,$0.00,$0.00,$24.00
5,100%,$180.00,$650.00,NaN,$400.00,$80.00,$10.00
6,100%,$70.00,$420.00,$820.00,$500.00,$0.00,$0.00
7,NaN,$120.00,NaN,NaN,NaN,NaN,$13.00
8,100%,$90.00,$520.00,"$1,440.00",$500.00,$50.00,$20.00

In [22]:
numeric_to_fix(df).columns

Index(['host_response_rate', 'price', 'weekly_price', 'monthly_price',
       'security_deposit', 'cleaning_fee', 'extra_people'],
      dtype='object')

In [23]:
len(numeric_to_fix(df).columns)

7

### Modifying Values

In [24]:
price_features = ['price', 'weekly_price', 'monthly_price', 'security_deposit', 'cleaning_fee', 'extra_people']
def price_to_float(price):
    if type(price) == str and price[0] == '$':
        return float(price[1:].replace(',',''))

def prices_to_floats(df, price_features):
    prices_df = pd.DataFrame({})
    for feature in price_features:
        prices_df[feature] = df[feature].map(price_to_float)
    return prices_df

In [25]:
prices_df = prices_to_floats(df, price_features)

In [26]:
prices_to_floats(df, price_features)

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,60.0,NaN,NaN,200.0,30.0,28.0
1,17.0,NaN,NaN,0.0,0.0,0.0
2,90.0,520.0,1900.0,200.0,50.0,20.0
3,26.0,175.0,599.0,250.0,30.0,18.0
4,42.0,NaN,NaN,0.0,0.0,24.0
5,180.0,650.0,NaN,400.0,80.0,10.0
6,70.0,420.0,820.0,500.0,0.0,0.0
7,120.0,NaN,NaN,NaN,NaN,13.0
8,90.0,520.0,1440.0,500.0,50.0,20.0
9,45.0,281.0,955.0,0.0,18.0,26.0
10,49.0,290.0,990.0,0.0,50.0,15.0
11,129.0,920.0,3200.0,500.0,49.0,24.0
12,70.0,420.0,1250.0,500.0,40.0,18.0
13,98.0,900.0,3000.0,300.0,50.0,25.0
14,160.0,NaN,NaN,150.0,40.0,35.0
15,65.0,NaN,NaN,500.0,50.0,0.0
16,90.0,600.0,NaN,200.0,35.0,5.0
17,90.0,600.0,NaN,200.0,55.0,5.0
18,197.0,NaN,2800.0,250.0,50.0,40.0
19,70.0,420.0,850.0,1660.0,NaN,0.0
20,90.0,500.0,1500.0,200.0,50.0,20.0
21,60.0,NaN,NaN,NaN,30.0,10.0
22,130.0,750.0,1380.0,1500.0,80.0,0.0
23,100.0,NaN,2500.0,NaN,40.0,20.0
24,44.0,210.0,600.0,100.0,15.0,15.0
25,62.0,450.0,1400.0,0.0,20.0,8.0
26,55.0,NaN,1300.0,1000.0,50.0,10.0
27,40.0,200.0,NaN,500.0,5.0,20.0
28,25.0,300.0,900.0,0.0,0.0,15.0
29,52.0,380.0,1200.0,100.0,30.0,12.0
30,39.0,280.0,1000.0,NaN,20.0,19.0
31,80.0,NaN,NaN,500.0,NaN,0.0
32,80.0,250.0,1000.0,500.0,35.0,0.0
33,50.0,NaN,NaN,100.0,NaN,15.0
34,43.0,NaN,NaN,NaN,NaN,13.0
35,40.0,NaN,600.0,NaN,NaN,0.0
36,36.0,260.0,900.0,NaN,20.0,19.0
37,119.0,1137.0,NaN,NaN,45.0,10.0
38,90.0,525.0,1850.0,300.0,50.0,20.0
39,42.0,300.0,1000.0,1000.0,20.0,10.0
40,56.0,NaN,NaN,300.0,25.0,10.0
41,50.0,301.0,NaN,NaN,NaN,10.0
42,48.0,NaN,1100.0,500.0,50.0,0.0
43,160.0,NaN,2500.0,NaN,50.0,0.0
44,70.0,NaN,NaN,NaN,NaN,0.0
45,88.0,450.0,1300.0,NaN,45.0,15.0
46,55.0,NaN,NaN,90.0,10.0,10.0
47,88.0,NaN,NaN,NaN,10.0,0.0
48,90.0,550.0,2000.0,NaN,25.0,0.0
49,55.0,350.0,1150.0,500.0,100.0,10.0
...,...,...,...,...,...,...
22502,25.0,NaN,NaN,0.0,0.0,23.0
22503,60.0,NaN,NaN,NaN,NaN,0.0
22504,99.0,NaN,NaN,NaN,NaN,0.0
22505,50.0,NaN,NaN,4000.0,25.0,10.0
22506,30.0,NaN,NaN,NaN,NaN,0.0
22507,65.0,NaN,NaN,500.0,50.0,5.0
22508,70.0,NaN,NaN,100.0,0.0,20.0
22509,25.0,NaN,NaN,NaN,NaN,0.0
22510,220.0,NaN,NaN,NaN,NaN,0.0
22511,90.0,NaN,NaN,1000.0,50.0,20.0
22512,35.0,NaN,NaN,NaN,NaN,0.0
22513,42.0,NaN,NaN,0.0,30.0,15.0
22514,49.0,NaN,NaN,0.0,5.0,10.0
22515,42.0,NaN,NaN,NaN,NaN,0.0
22516,80.0,NaN,NaN,NaN,NaN,0.0
22517,60.0,NaN,NaN,NaN,NaN,0.0
22518,28.0,NaN,NaN,NaN,NaN,0.0
22519,30.0,NaN,NaN,NaN,NaN,0.0
22520,22.0,NaN,NaN,NaN,NaN,0.0
22521,45.0,NaN,NaN,NaN,NaN,0.0
22522,45.0,NaN,NaN,0.0,30.0,36.0
22523,150.0,NaN,NaN,150.0,30.0,0.0
22524,30.0,NaN,NaN,200.0,25.0,10.0
22525,30.0,NaN,NaN,NaN,NaN,0.0
22526,599.0,NaN,NaN,0.0,0.0,0.0
22527,399.0,NaN,NaN,0.0,49.0,0.0
22528,100.0,NaN,NaN,NaN,NaN,0.0
22529,35.0,NaN,NaN,NaN,NaN,0.0
22530,105.0,NaN,NaN,0.0,60.0,15.0
22531,95.0,NaN,NaN,NaN,NaN,0.0
22532,70.0,NaN,NaN,2000.0,299.0,0.0
22533,30.0,NaN,NaN,NaN,NaN,0.0
22534,26.0,NaN,NaN,NaN,NaN,0.0
22535,21.0,NaN,NaN,NaN,NaN,0.0
22536,150.0,NaN,NaN,NaN,NaN,0.0
22537,23.0,NaN,NaN,NaN,NaN,0.0
22538,60.0,NaN,NaN,NaN,NaN,0.0
22539,30.0,NaN,NaN,NaN,NaN,0.0
22540,30.0,NaN,NaN,NaN,NaN,0.0
22541,19.0,NaN,NaN,0.0,0.0,10.0
22542,40.0,NaN,NaN,NaN,NaN,0.0
22543,29.0,NaN,NaN,NaN,NaN,0.0
22544,90.0,NaN,NaN,100.0,20.0,0.0
22545,39.0,NaN,NaN,0.0,10.0,10.0
22546,100.0,NaN,NaN,1000.0,100.0,0.0
22547,60.0,NaN,NaN,NaN,NaN,0.0
22548,20.0,NaN,NaN,0.0,0.0,10.0
22549,85.0,NaN,NaN,NaN,NaN,0.0
22550,99.0,NaN,NaN,NaN,NaN,0.0
22551,45.0,NaN,NaN,NaN,NaN,0.0

In [27]:
prices_df[0:1]

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,60.0,NaN,NaN,200.0,30.0,28.0

In [28]:
df.head(1)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,requires_license,license,jurisdiction_names,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,2015,https://www.airbnb.com/rooms/2015,20181107122246,2018-11-07,Berlin-Mitte Value! Quiet courtyard/very central,Great location! 30 of 75 sq meters. This wood...,A+++ location! This „Einliegerwohnung“ is an e...,Great location! 30 of 75 sq meters. This wood...,none,It is located in the former East Berlin area o...,...,t,NaN,NaN,f,f,strict_14_with_grace_period,f,f,4,3.76

In [29]:
def percentage_to_num(percentage):
    if type(percentage) == str:
        return float(percentage[:-1])

In [30]:
df['host_response_rate'].head()

0     96%
1     NaN
2    100%
3     NaN
4    100%
Name: host_response_rate, dtype: object

In [31]:
percentage_to_num(df['host_response_rate'])

In [32]:
type(df['host_response_rate'])

pandas.core.series.Series

In [33]:
(df['host_response_rate']).dtypes

dtype('O')

In [34]:
df['host_response_rate'].head()

0     96%
1     NaN
2    100%
3     NaN
4    100%
Name: host_response_rate, dtype: object

In [35]:
def convert_to_num(percentage):
    if (percentage).dtypes == object:
        return float(percentage[:-1])

In [36]:
convert_to_num(df['host_response_rate'])

TypeError: cannot convert the series to <class 'float'>

- percentage_to_num function did not convert the host_response_rate column into number as shown above, because the series does not convert into class 'float', according to the error message. Hence, I tried a new function below:

In [37]:
percentage_feature = ['host_response_rate']
def percentage_to_numb(percentage):
    if type(percentage) == str:
        return float(percentage[:-1])

def percentage_to_number(df, percentage_feature):
    percent_df = pd.DataFrame({})
    for p_feature in percentage_feature:
        percent_df[p_feature] = df[p_feature].map(percentage_to_numb)
        return percent_df

In [38]:
percentage_to_number(df, percentage_feature).head()

   host_response_rate
0                96.0
1                 NaN
2               100.0
3                 NaN
4               100.0

Once we have modified our columns, we can merge the new columns into our original dataframe.

In [39]:
def merge_dfs(original_df, new_dfs):
    if not isinstance(new_dfs, list):
        new_dfs = [new_dfs]
    copied_original = original_df.copy()
    for new_df in new_dfs:
        copied_original[new_df.columns] = new_df
    return copied_original

In [40]:
prices_df.head(1)

,price,weekly_price,monthly_price,security_deposit,cleaning_fee,extra_people
0,60.0,NaN,NaN,200.0,30.0,28.0

In [41]:
[prices_df]

[       price  weekly_price  monthly_price  security_deposit  cleaning_fee  \
 0       60.0           NaN            NaN             200.0          30.0
 1       17.0           NaN            NaN               0.0           0.0
 2       90.0         520.0         1900.0             200.0          50.0
 3       26.0         175.0          599.0             250.0          30.0
 4       42.0           NaN            NaN               0.0           0.0
 5      180.0         650.0            NaN             400.0          80.0
 6       70.0         420.0          820.0             500.0           0.0
 7      120.0           NaN            NaN               NaN           NaN
 8       90.0         520.0         1440.0             500.0          50.0
 9       45.0         281.0          955.0               0.0          18.0
 10      49.0         290.0          990.0               0.0          50.0
 11     129.0         920.0         3200.0             500.0          49.0
 12      70.0         420.0         1250.0             500.0          40.0
 13      98.0         900.0         3000.0             300.0          50.0
 14     160.0           NaN            NaN             150.0          40.0
 15      65.0           NaN            NaN             500.0          50.0
 16      90.0         600.0            NaN             200.0          35.0
 17      90.0         600.0            NaN             200.0          55.0
 18     197.0           NaN         2800.0             250.0          50.0
 19      70.0         420.0          850.0            1660.0           NaN
 20      90.0         500.0         1500.0             200.0          50.0
 21      60.0           NaN            NaN               NaN          30.0
 22     130.0         750.0         1380.0            1500.0          80.0
 23     100.0           NaN         2500.0               NaN          40.0
 24      44.0         210.0          600.0             100.0          15.0
 25      62.0         450.0         1400.0               0.0          20.0
 26      55.0           NaN         1300.0            1000.0          50.0
 27      40.0         200.0            NaN             500.0           5.0
 28      25.0         300.0          900.0               0.0           0.0
 29      52.0         380.0         1200.0             100.0          30.0
 30      39.0         280.0         1000.0               NaN          20.0
 31      80.0           NaN            NaN             500.0           NaN
 32      80.0         250.0         1000.0             500.0          35.0
 33      50.0           NaN            NaN             100.0           NaN
 34      43.0           NaN            NaN               NaN           NaN
 35      40.0           NaN          600.0               NaN           NaN
 36      36.0         260.0          900.0               NaN          20.0
 37     119.0        1137.0            NaN               NaN          45.0
 38      90.0         525.0         1850.0             300.0          50.0
 39      42.0         300.0         1000.0            1000.0          20.0
 40      56.0           NaN            NaN             300.0          25.0
 41      50.0         301.0            NaN               NaN           NaN
 42      48.0           NaN         1100.0             500.0          50.0
 43     160.0           NaN         2500.0               NaN          50.0
 44      70.0           NaN            NaN               NaN           NaN
 45      88.0         450.0         1300.0               NaN          45.0
 46      55.0           NaN            NaN              90.0          10.0
 47      88.0           NaN            NaN               NaN          10.0
 48      90.0         550.0         2000.0               NaN          25.0
 49      55.0         350.0         1150.0             500.0         100.0
 ...      ...           ...            ...               ...           ...
 22502   25.0           NaN            NaN               0.0           0.0
 22503   60.0           NaN            NaN               NaN           NaN
 22504   99.0           NaN            NaN               NaN           NaN
 22505   50.0           NaN            NaN            4000.0          25.0
 22506   30.0           NaN            NaN               NaN           NaN
 22507   65.0           NaN            NaN             500.0          50.0
 22508   70.0           NaN            NaN             100.0           0.0
 22509   25.0           NaN            NaN               NaN           NaN
 22510  220.0           NaN            NaN               NaN           NaN
 22511   90.0           NaN            NaN            1000.0          50.0
 22512   35.0           NaN            NaN               NaN           NaN
 22513   42.0           NaN            NaN               0.0          30.0
 22514   49.0           NaN            NaN               0.0           5.0
 22515   42.0           NaN            NaN               NaN           NaN
 22516   80.0           NaN            NaN               NaN           NaN
 22517   60.0           NaN            NaN               NaN           NaN
 22518   28.0           NaN            NaN               NaN           NaN
 22519   30.0           NaN            NaN               NaN           NaN
 22520   22.0           NaN            NaN               NaN           NaN
 22521   45.0           NaN            NaN               NaN           NaN
 22522   45.0           NaN            NaN               0.0          30.0
 22523  150.0           NaN            NaN             150.0          30.0
 22524   30.0           NaN            NaN             200.0          25.0
 22525   30.0           NaN            NaN               NaN           NaN
 22526  599.0           NaN            NaN               0.0           0.0
 22527  399.0           NaN            NaN               0.0          49.0
 22528  100.0           NaN            NaN               NaN           NaN
 22529   35.0           NaN            NaN               NaN           NaN
 22530  105.0           NaN            NaN               0.0          60.0
 22531   95.0           NaN            NaN               NaN           NaN
 22532   70.0           NaN            NaN            2000.0         299.0
 22533   30.0           NaN            NaN               NaN           NaN
 22534   26.0           NaN            NaN               NaN           NaN
 22535   21.0           NaN            NaN               NaN           NaN
 22536  150.0           NaN            NaN               NaN           NaN
 22537   23.0           NaN            NaN               NaN           NaN
 22538   60.0           NaN            NaN               NaN           NaN
 22539   30.0           NaN            NaN               NaN           NaN
 22540   30.0           NaN            NaN               NaN           NaN
 22541   19.0           NaN            NaN               0.0           0.0
 22542   40.0           NaN            NaN               NaN           NaN
 22543   29.0           NaN            NaN               NaN           NaN
 22544   90.0           NaN            NaN             100.0          20.0
 22545   39.0           NaN            NaN               0.0          10.0
 22546  100.0           NaN            NaN            1000.0         100.0
 22547   60.0           NaN            NaN               NaN           NaN
 22548   20.0           NaN            NaN               0.0           0.0
 22549   85.0           NaN            NaN               NaN           NaN
 22550   99.0           NaN            NaN               NaN           NaN
 22551   45.0           NaN            NaN               NaN           NaN

        extra_people
 0              28.0
 1               0.0
 2              20.0
 3              18.0
 4              24.0
 5              10.0
 6               0.0
 7              13.0
 8              20.0
 9              26.0
 10             15.0
 11             24.0
 12             18.0
 13             25.0
 14             35.0
 15              0.0
 16              5.0
 17              5.0
 18             40.0
 19              0.0
 20             20.0
 21             10.0
 22              0.0
 23             20.0
 24             15.0
 25              8.0
 26             10.0
 27             20.0
 28             15.0
 29             12.0
 30             19.0
 31              0.0
 32              0.0
 33             15.0
 34             13.0
 35              0.0
 36             19.0
 37             10.0
 38             20.0
 39             10.0
 40             10.0
 41             10.0
 42              0.0
 43              0.0
 44              0.0
 45             15.0
 46             10.0
 47              0.0
 48              0.0
 49             10.0
 ...             ...
 22502          23.0
 22503           0.0
 22504           0.0
 22505          10.0
 22506           0.0
 22507           5.0
 22508          20.0
 22509           0.0
 22510           0.0
 22511          20.0
 22512           0.0
 22513          15.0
 22514          10.0
 22515           0.0
 22516           0.0
 22517           0.0
 22518           0.0
 22519           0.0
 22520           0.0
 22521           0.0
 22522          36.0
 22523           0.0
 22524          10.0
 22525           0.0
 22526           0.0
 22527           0.0
 22528           0.0
 22529           0.0
 22530          15.0
 22531           0.0
 22532           0.0
 22533           0.0
 22534           0.0
 22535           0.0
 22536           0.0
 22537           0.0
 22538           0.0
 22539           0.0
 22540           0.0
 22541          10.0
 22542           0.0
 22543           0.0
 22544           0.0
 22545          10.0
 22546           0.0
 22547           0.0
 22548          10.0
 22549           0.0
 22550           0.0
 22551           0.0

 [22552 rows x 6 columns]]

In [42]:
merge_dfs(df, prices_df)['weekly_price'].head(7)

0      NaN
1      NaN
2    520.0
3    175.0
4      NaN
5    650.0
6    420.0
Name: weekly_price, dtype: float64

In [43]:
df['weekly_price'].head(7)

0        NaN
1        NaN
2    $520.00
3    $175.00
4        NaN
5    $650.00
6    $420.00
Name: weekly_price, dtype: object

### Resources

[Fixing messy col names](https://medium.com/@chaimgluck1/working-with-pandas-fixing-messy-column-names-42a54a6659cd)